In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
#import data
titanic=sns.load_dataset('titanic')
#keep only survived,pclass,sex,age for the fun work
titanic=titanic[['survived','pclass','sex','age']]
titanic.dropna(axis=0,inplace=True) #delete missing values rows
titanic['sex'].replace(['male','female'],[0,1], inplace=True) #replace the categorial variable sex into numerical variables
titanic.head()

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [56]:
# create X and Y variables
X=titanic.drop('survived',axis=1)
Y=titanic['survived']

In [64]:
#compute classification model by using KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()#build model of claasification
model.fit(X,Y)#fitting the model with x and Y
model.score(X,Y)#precision of the model
#model.predict(X)

0.8319327731092437

In [69]:
#compute a function to automatically predict if a person in this titanic will be alive or not
pclass=int(input("sasir votre classe"))
sex=int(input("saisir votre sex"))
age=int(input("saisir votre age"))
def alive(model,pclass,sex,age):
    X=np.array([pclass,sex,age]).reshape(1,3)
    Y=model.predict(X)
    if(Y==0):
        print("vous n'avez pas survecu au nauffrage ")
    else:
        print("bravo vous avez surv√©cu au nauffrage")
    #return(Y)
#call the function
alive(model,pclass,sex,age)

sasir votre classe3
saisir votre sex0
saisir votre age28
vous n'avez pas survecu au nauffrage

array([0], dtype=int64)

In [70]:
#build model using KNeighborsClassifier